<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Team</title>
    </head>
    <body>
        <h1>Team List</h1>
        <h2>Welcome!</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Member Count</th>
                </tr>
            </thead>
            <tbody id="table">
                <tr th:each="team : ${teamList}">
                    <td th:text="${team.name}"></td>
                    <td th:text="${team.memberCount}"></td>
                </tr>
            </tbody>
        </table>
        
        <div id="pages" style="float: left;">
            <span id="spanFirst">First page</span>
            <span id="spanPre">Previous page</span>
            <span id="spanNext">Next page</span>
            <span id="spanLast">Last page</span>
            The<strong id="spanPageNum"></strong>Page/Total
            <strong id="spanTotalPage"></strong>Page 
        </div>

        <script>
            var theUL = document.getElementById("table");
            var totalPage = document.getElementById("spanTotalPage");
            var pageNum = document.getElementById("spanPageNum"); //获取当前页<span>
            var spanPre = document.getElementById("spanPre"); //获取上一页<span>
            var spanNext = document.getElementById("spanNext"); //获取下一页<span>
            var spanFirst = document.getElementById("spanFirst"); //获取第一页<span>
            var spanLast = document.getElementById("spanLast"); //获取最后一页<span>
            var numberRowsInTable = theUL.getElementsByTagName("tr").length; //记录总条数
            var pageSize = 2; //每页显示的记录条数
            var page = 1; //当前页，默认第一页

            //下一页
            function next(){
                hideTable();
                currentRow = pageSize * page;
                maxRow = currentRow + pageSize;
                if ( maxRow > numberRowsInTable ) maxRow = numberRowsInTable;
                for ( var i = currentRow; i< maxRow; i++ ){
                    theUL.getElementsByTagName("tr")[i].style.display = '';
                }
                page++;
                if ( maxRow == numberRowsInTable ) {
                    nextText();
                    lastText();
                }
                showPage();
                preLink();
                firstLink();
            }

            //上一页
            function pre(){
                hideTable();
                page--;
                currentRow = pageSize * page;
                maxRow = currentRow - pageSize;
                if ( currentRow > numberRowsInTable ) currentRow = numberRowsInTable;
                for ( var i = maxRow; i< currentRow; i++ ){
                    theUL.getElementsByTagName("tr")[i].style.display = '';
                }
                if ( maxRow == 0 ){
                    preText();
                    firstText();
                }
                showPage();
                nextLink();
                lastLink();
            }

            //第一页
            function first(){
                hideTable();
                page = 1;
                for ( var i = 0; i<pageSize; i++ ){
                    theUL.getElementsByTagName("tr")[i].style.display = '';
                }
                showPage();
                firstText();
                preText();
                nextLink();
                lastLink();
            }

            //最后一页
            function last(){
                hideTable();
                page = pageCount();
                currentRow = pageSize * (page - 1);
                for ( var i = currentRow; i<numberRowsInTable; i++ ){
                    theUL.getElementsByTagName("tr")[i].style.display = '';
                }
                showPage();
                preLink();
                nextText();
                firstLink();
                lastText();
            }

            function hideTable(){
                for ( var i = 0; i<numberRowsInTable; i++ ){
                    theUL.getElementsByTagName("tr")[i].style.display = 'none';
                }
            }

            function showPage(){
                pageNum.innerHTML = page;
            }

            //总共页数
            function pageCount(){
                return Math.ceil(numberRowsInTable/pageSize);
            }
            //显示链接
            function preLink(){
                spanPre.innerHTML = "<a href='javascript:pre();'>Previous Page</a>";
            }
            function preText(){
                spanPre.innerHTML = "Previous Page";
            }
            function nextLink(){
                spanNext.innerHTML = "<a href='javascript:next();'>Next Page</a>";
            }
            function nextText(){
                spanNext.innerHTML = "Next Page";
            }
            function firstLink(){
                spanFirst.innerHTML = "<a href='javascript:first();'>First Page</a>";
            }
            function firstText(){
                spanFirst.innerHTML = "First Page";
            }
            function lastLink(){
                spanLast.innerHTML = "<a href='javascript:last();'>Last Page</a>";
            }
            function lastText(){
                spanLast.innerHTML = "Last Page";
            }

            //隐藏
            function hide(){
                for ( var i = pageSize; i<numberRowsInTable; i++ ){
                    theUL.getElementsByTagName("tr")[i].style.display = 'none';
                }
                totalPage.innerHTML = pageCount();
                pageNum.innerHTML = '1';
                nextLink();
                lastLink();
            }
            hide();
        </script>
    </body>
</html>